:root {
    --primary-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


/* body{
 width: 1600px;
} */

.list {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

.link {
    list-style: none;
}

.head {
    width: 1600px;
    margin: 0 auto;
   border-bottom: 1px solid #ffffff;
   padding-top: 32px;
   padding-bottom: 32px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
   
}

.head-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navigation {
    display: flex;
    
    margin-left: 93px;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.logo-studio {
    color: #000000;
}

.logo-link:focus,
.logo-link:hover {}


/* logo end */

.menu {
    display: flex;
    align-items: center;
    
}

.menu .menu-item +.menu-item {
    margin-left: 50px;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.menu-link-activ {
    color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contakt {
    display: flex;
    margin-left: auto;
}

.mailto-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.mailto-link:hover,
.mailto-link:focus {
    color: var(--accent-color);
}

.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contakt .contakt-item+.contakt-item {
    margin-left: 50px;
}


/* ==================hero section============= */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero {
    width: 1600px;
   
    margin: 0px auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2f303a;
}

.hero-title {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
}

.modal-btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    margin: 0 auto;
    margin-top: 35px;
}

.modal-btn:hover,
.modal-btn:focus {
    cursor: pointer;
    background: #188ce8;
}


/* identical to box height, or 187% */


/*========================END HERO=================*/


/*=========================ПОЧЕМУ МЫ===================*/

.advantages {
    width: 1600px;
    margin: 0 auto;
    
    
    /* padding: 0;
  margin: 0; */
}

.advantages-list {
    display: flex;
    justify-content: space-between;
}

.advantages-list-title {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.advantages-text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.advantages-block:not(:last-child) {
    margin-right: 30px;
}


/*==================конец ПОЧЕМУ МЫ=================*/


/*================= ACTIVITIES ==================*/

.skills {
    width: 1600px;
    margin: 0 auto;
  
}

.skills-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.skills-list {
    display: flex;
    justify-items: baseline;
    justify-content: space-between;
    margin: auto;
}

.skills-list:not(:last-child) {
    margin-right: 30px;
}


/*=============== Конец ЧЕМ МЫ ЗАНИМАЕМСЯ ==========*/


/*=================TEAM SECTION==============*/



.team {
    margin: auto;
  
    background-color: #f5f4fa;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    /* margin-top: -30px; */
}

.team-item {
    margin-left: 30px;
   background: #ffffff;
}
.team-image {
    margin-bottom:30px ;
}

.team-title {
    
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-style: 700;
    font-size: 36px;
    line-height: 1.17;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 3%;
    color: var(--primary-color);
}

.team-names {
    
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.team-professions { 
    padding-bottom: 90px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

footer {
    width: 1600px;
    margin: auto;
    padding: 60px 0px;
    
    background-color: #2f303a;
}

.logo-footer {
    margin-bottom: 20px;
    
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.address-post {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #ffffff;
}

.address-mail , .address-tel {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-mail {
    margin-bottom: 9px;
}


/* ===============ПОРТФОЛИО========== */

.work-section {
    width: 1600px;
    margin: auto;
}

.work-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    
}
.work-menu-btn {
   
}

.work-menu-btn:not(:last-child) {
    margin-right: 8px;
}

.work-menu-btn-text { 
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    Font-style: 500px;
    Font-size: 16px;
    Line-height: 26px;
    Line-height: 1.63;
    text-align: Center;
    Vertical-align: Top;
    Letter-spacing: 3%;
}

.work-menu-btn-text:focus {
    color: #ffffff;
    background: var(--accent-color);
    /* border: #ffffff; */
}

.work-menu-btn-text:hover {
    color: #ffffff;
    background: var(--accent-color);
}


/* =========Карточки клиентов========= */



.client-block {
    /* padding-bottom: 94px; */
}

.client {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.client-cell {
    margin-left: 30px;
    margin-top: 30px;
}
.client-info {
    padding: 20px 24px;
}

.client-title {
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--primary-color);
}

.client-order {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.logo-studio-footer {
    color: #ffffff;
}